[gerrit]
  basePath = git
        canonicalWebUrl = http://3.71.36.221:8080
        serverId = 355c7bef-1edd-4792-80b9-fae338f8f221

[index]
  type = LUCENE

[auth]
  type = LDAP
  # Git/HTTPS parolası için birini seç:
  gitBasicAuthPolicy = HTTP ; UI->HTTP Credentials token zorunlu olsun
 # gitBasicAuthPolicy = LDAP ; LDAP ?~_ifresiyle Git Basic Auth kabul et

[httpd]
  listenUrl = http://*:8080/

# ?~^UNLARI SİL (gerekli de?~_il ve sorun çıkarır):
# filterClass = com.googlesource.gerrit.plugins.ootb.FirstTimeRedirect
# firstTimeRedirectUrl = /login/%23%2F?account_id=1000000

[sshd]
  listenAddress = *:29418

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true

[sendemail]
  smtpServer = localhost

[receive]
  enableSignedPush = false

[ldap]
  server = ldap://ldap.oobeya.io:389
  username = cn=admin,dc=computingforgeeks,dc=com
  password = Admin!12*
  accountBase = ou=Users,dc=computingforgeeks,dc=com
  groupBase = ou=Users,dc=computingforgeeks,dc=com
  accountPattern = (&(|(objectClass=person)(objectClass=inetOrgPerson))(cn=${username}))
  referral = follow
  sslVerify = false

[account]
  fullName = ldap
  email = ldap
